cookies==2.2.1
coverage==4.5.2
flake8==3.6.0
mccabe==0.6.1
nose==1.3.7
nose-timer==0.7.4
pycodestyle==2.4.0
pyflakes==2.0.0
pypandoc==1.4
piprot==0.9.10
requests-futures==0.9.9
responses==0.10.5
six==1.12.0
